name: Build APK

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y python3-pip python3-virtualenv git zip unzip openjdk-17-jdk wget curl
        python3 -m pip install --upgrade pip
        pip install cython==0.29.36 virtualenv wheel buildozer==1.4.2

    - name: Build APK
      run: |
        buildozer android debug --verbose
        ls -lh bin/

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: countapp-apk
        path: bin/*.apk
